@charset "utf-8";

/* 
    Cinza claro: #F8F7F9;
    Cinza escuro: #585859;
    Amarelo: #F2CE16
    Laranja amarelado: #F2A516;
    Laranja: #F2911B;
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    padding: 10px 0px;
}

h1{
    font-size: 2em;
    padding: 10px 0px;
}

header{
    text-align: center;
    background-color: #F2911B;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
}

.bttn{
    position: fixed;
    color: black;
    right: 5px;
    bottom: 3px;
    height: 65px;
    width: 220px;
    background-color: #F8F7F9;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
}

.bttn:hover{
    background-color: #585859;
    color: white;
    transition: 0.6s;
    opacity: 1;
}


.whatsapp{
    background-image: url(imagens/whatsapp.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    right: 20px;
    bottom: 10px;
    background-color: green;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.txtx{
    position: fixed;
    right: 80px;
    bottom: 15px;
    font-size: 0.5em;
}


#boximg{
    background-color: white;
    height:300px;
    background-image: url(imagens/capa.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.329);
}

 nav > a:hover{
    background-color: #F2A516;
    color: #F8F7F9;
    text-decoration: underline;
    transition: 1s;
    border-radius: 10px;

}
header > nav > a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 3px #0000005d;
    width: 250px;
    padding: 10px;
    margin: 10px 20px;
}

body > article{
    margin: auto;
}

body{
    background-color: white;
}

.container1{
    position: relative;
}

#img1{
    height: 360px;
    background-image: url(imagens/modern-automobile-mechanic-composition.jpg);
    background-position:bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.281);
    opacity: 0.7;
}

#txt1{
    background-color: rgba(0, 0, 0, 0.884);
    position: absolute;
    top: 20%;
    left: 15%;
    color: #F8F7F9;
    font-size: 2em;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
    margin: 60px 60px;
    padding: 15px;
    border-radius: 10px 0px;
}

section{
    text-align: justify;
    margin: 2vw 10vw;
}

#sec2{
    padding: 30px;
    background-color: #58585946;
    border-radius: 5px 0px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.151);
    
}

.video{
    background-color: #F2911B;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
}

iframe{
    margin: 2vw 20vw 2vw 30vw;
    width: 40vw;
    height: 20vw;
    background-color: #585859;
    border: solid rgba(0, 0, 0, 0.445);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.527);
}

aside{
    text-align: justify;
    padding: 0vw 10vw;
    margin: 50px 0px 0px 0px;
}



footer{
    padding: 10PX 0PX;
    text-align: center;
    background-color: #585859;
    color: #F8F7F9;
    font-size: 0.9em;
}